{{define "root"}}
<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Libertempo</title>
        <link type="text/css" href="/public/index.css" rel="stylesheet" media="screen">
    </head>
    <body>
        <header><img src="/public/Libertempo.png" alt="logo"/><h1>Libertempo</h1></header>
        <article>
            <h2>Libertempo, l'application <em>libre</em> de gestion de congés.</h2>
            <p>Totalement tournée vers les réglementations françaises, elle se distingue par son accessibilité et son adaptation aux règles particulières de votre structure.</p>
            <p>Librement modifiable, installable où vous voulez, pour autant de personnels que vous voulez. Pour toujours.</p>
            <section>
                <div><a href="http://demo.libertempo.fr">Démonstration</a></div>
                <div>Documentation</div>
                <div>Téléchargement</div>
                <div>Blog</div>
            </section>
        </article>
    </body>
</html>
{{end}}
